<!--<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/products">PRODUCTOS</a></li>
        <li><a href="/products/detail">DETALLE DEL PRODUCTO</a></li>
        <li><a href="/users/register">REGISTRO</a></li>
        <li><a href="/users/login">INICIAR SESIÓN</a></li>
    </ul>
</nav>-->

<nav>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link " href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/register">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/login">Iniciar sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products">Productos</a>
        </li>
    <li class="nav-item">
      <a class="nav-link" href="/products/detail">Detalles de producto</a>
    </li>
  </ul>
</nav>